.wrapper {
    padding: 10px 20px;
    background-color: rgba(255, 105, 0);
    text-align: center;
    border: none;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.secondery {
    background-color: rgba(255, 240, 230);
   color: rgba(255, 105, 0);
}

.disabled {
    cursor: not-allowed;
    background-color: rgba(226, 226, 233);
    color: rgba(171, 173, 186);
}