
.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 20px;
    margin: 50px 120px;
}

.title {
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
}

.label {
    width: calc(50% - 10px);
}

.label > div {
    margin-left: 5px;
    font-size: 14px;
}

.input {
    width: 100%;
    height: 50px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(0, 153, 248);
}